In [4]:
import pandas as pd

df = pd.read_json('/workspace/data/hn/stories_dump.jsonl', lines=True)
df.to_feather('/workspace/data/hn/stories_dump.feather')

df.describe()

,descendants,id,score,time,dead,deleted
count,4.014643e+06,4.920000e+06,4.694930e+06,4.893182e+06,996786.0,198228.0
mean,7.359605e+00,1.513293e+07,1.321535e+01,1.480524e+09,1.0,1.0
std,3.703572e+01,1.022987e+07,5.684069e+01,1.266091e+08,0.0,0.0
min,-1.000000e+00,3.330700e+04,-1.000000e+00,1.184007e+09,1.0,1.0
25%,0.000000e+00,6.166646e+06,1.000000e+00,1.376235e+09,1.0,1.0
50%,0.000000e+00,1.366938e+07,2.000000e+00,1.488378e+09,1.0,1.0
75%,1.000000e+00,2.314816e+07,3.000000e+00,1.589657e+09,1.0,1.0
max,4.576000e+03,3.634942e+07,6.015000e+03,1.686877e+09,1.0,1.0

In [5]:
import pandas as pd

df = pd.read_feather('/workspace/data/hn/stories_dump.feather')

In [6]:
df.rename(columns={'descendants': 'comments'}, inplace=True)

df['time'] = pd.to_datetime(df['time'], unit='s')

In [9]:
# Deduplicate stories based on the URL. Keep the one with the highest score.

print(df.shape)

df.sort_values(by=['score'], ascending=False, inplace=True)
df = df.drop_duplicates(subset=['url'], keep='first')

print(df.shape)

(4920000, 12)
(3784295, 12)

In [13]:
df['probably_frontpage'] = df['score'] > 50
df['has_text'] = df['text'].notnull()

# Show a 2x2 table of the number of stories that are probably frontpage and have text.
df.groupby(['probably_frontpage', 'has_text']).size().unstack()

has_text              False    True
probably_frontpage
False               2385015  1144317
True                 225009    29954